@use "sass:map";
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border-radius {
  border-radius: 0.5rem;
}

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
);
@mixin responsive($size) {
  @media (min-width: map.get($breakpoints,$size)) {
    @content;
  }
}
