@use "../../styles/mixin" as *;
.main {
  @include flex-center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  @include responsive(sm) {
    padding: 2.5rem;
  }
  @include responsive(md) {
    padding: 3rem;
  }
  @include responsive(lg) {
    padding: 3.5rem 0;
  }
}
.weatherInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
