@use "../../styles/mixin.scss" as *;
@use "../../styles/variables.scss" as *;
.inputDiv {
  @include flex-center;
  gap: 0.2rem;
}
.input {
  @include border-radius;
  padding: 0.3rem;
  border: 1px solid $font-color-main;
  font-size: 1.5rem;
}
.glassSymbol {
  font-size: 2rem;
}
.locationButton {
  @include border-radius;
  padding: 0.3rem;
  border: 1px solid $font-color-main;
  background-color: transparent;
  font-size: 1.5rem;
}
