@use "../../styles/mixin.scss" as *;
@use "../../styles/variables.scss" as *;
.searchBar {
  position: relative;
}
.inputDiv {
  @include flex-center;
  gap: 0.2rem;
}
.input {
  @include border-radius;
  padding: 0.5rem;
  border: 1px solid $font-color-main;
  font-size: 1.5rem;
}
.glassSymbol {
  font-size: 2rem;
}
.locationButton {
  @include border-radius;
  padding: 0.3rem;
  border: 1px solid $font-color-main;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
@mixin list-button {
  padding: 0.7rem 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid $font-color-main;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
  .cityName {
    font-weight: bold;
  }
}

.lastCityButton {
  @include list-button;
}
.recentSearch {
  font-size: 1.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
}
