@use "../../styles/variables.scss" as *;
@use "../SearchBar/SearchBar.module.scss" as *;
.resultPosition {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 0 1rem 1rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: $bg-color;
  z-index: 1;
}
.resultList {
  border: 1px solid $font-color-main;
  list-style: none;
}
.listButton {
  @include list-button;
}
.p {
  padding: 1rem;
}
