@use "../../styles/variables.scss" as *;
.resultPosition {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 0 1rem 1rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: $bg-color;
  z-index: 1;
}
.resultList {
  border: 1px solid $font-color-main;
  list-style: none;
}
.listButton {
  padding: 0.7rem 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid $font-color-main;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
  .cityName {
    font-weight: bold;
  }
}
.p {
  padding: 1rem;
}
